.formcontrol {
  height: 80vh;
  width: 80%;
  justify-content: center;
  padding-bottom: 2em;
  margin: auto;
}
.formcontrol label {
  display: flex;
  padding-bottom: 1em;
}
.formcontrol .form-floating {
  margin: auto;
  width: 100vh;
}

@font-face {
  font-family: "Mulish", sans-serif;
  src: url("../fonts/Mulish-Bold.ttf");
  src: url("../fonts/Mulish-BoldItalic.ttf");
  src: url("../fonts/Mulish-Italic.ttf");
  src: url("../fonts/Mulish-LightItalic.ttf");
  src: url("../fonts/Mulish-Light.ttf");
  src: url("../fonts/Mulish-Medium.ttf");
  src: url("../fonts/Mulish-MediumItalic.ttf");
  src: url("../fonts/Mulish-Regular.ttf");
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Bold.ttf");
  src: url("../fonts/Poppins-BoldItalic.ttf");
  src: url("../fonts/Poppins-Italic.ttf");
  src: url("../fonts/Poppins-LightItalic.ttf");
  src: url("../fonts/Poppins-Light.ttf");
  src: url("../fonts/Poppins-Medium.ttf");
  src: url("../fonts/Poppins-MediumItalic.ttf");
  src: url("../fonts/Poppins-Regular.ttf");
  src: url("../fonts/Poppins-Thin.ttf");
  src: url("../fonts/Poppins-ThinItalic.ttf");
}
.navback li:not(:first-child) {
  display: flex;
  justify-content: end;
}

.sidebar {
  height: 100vh;
  background-color: #516b79;
  height: 100%;
  width: 80px;
}

.sidebarleft {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 80px;
  left: 0;
  top: 0;
}

.sidebar div {
  flex: 1;
}

.item {
  display: flex;
  flex-wrap: nowrap;
}

.sidebarleft .item {
  transform: rotate(-90deg) translate(-100%, 0%);
  left: 0;
  color: white;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0;
}

.btndeco {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  padding: 5px;
}

.indexbtn {
  height: 40vh;
  margin: auto;
  display: flex;
}
.indexbtn .btnProject {
  justify-content: center;
  text-align: center;
  margin: auto;
}
.indexbtn a {
  text-decoration: none;
}
.indexbtn a h2 {
  font-family: "Poppins";
  color: white;
}
.indexbtn a .buttonProject {
  margin: auto;
  justify-content: center;
  height: 5em;
  width: 20em;
  background-color: #8dabbe;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.indexbtn a .buttonProject:hover {
  background-color: #37474F;
  color: white;
}

.flex {
  display: flex;
}
.flex h1 {
  margin: auto;
}

h1 {
  text-align: center;
}

body {
  height: 100vh;
  text-align: center;
  justify-content: center;
}

.menu {
  display: flex;
  padding: 2em;
}
.menu h1 {
  margin: auto;
}

.home {
  display: flex;
}
.home h1 {
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.pageprojet {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 0.5em dashed #8dabbe;
  margin-bottom: 2em;
}
.pageprojet img {
  max-width: 80%;
}

#footernav {
  display: flex;
}
#footernav nav {
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#footernav .burger {
  display: none;
}

.separator {
  color: #37474F;
  height: 3px;
  width: 80%;
  margin: auto;
  padding: 2px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.btnfooter {
  background-color: #8dabbe;
  font-family: "Poppins";
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.btnfooter:hover {
  background-color: #37474F;
  color: white;
}

/*# sourceMappingURL=style.css.map */
