h1{
  text-align: center;
}

.flex{
  display: flex;
  width: 80%;
  h1{
    margin: auto;
    flex-direction: row;
    justify-content: center;
  }
}
.menu{
  height: 100vh;
  display: flex;
  h1{
    margin: auto;
  }
  .buttonProject{
    margin: auto;
    height: 5em;
    background-color: $BackgroundLight;
    font-family: 'Poppins';
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 1rem;
    &:hover{
      background-color: $BackgroundDark;
      color: white;
    }
  }
}
