h1{
  text-align: center;
}
body{
  height: 100vh;
  text-align: center;
  justify-content: center;
}
.menu{
  display: flex;
  padding: 2em;
  h1{
    margin: auto;
  }
}
.buttonProject{
  margin: auto;
  height: 5em;
  background-color: $BackgroundLight;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  &:hover{
    background-color: $BackgroundDark;
    color: white;
  }
  a{
    text-decoration: none;
    h2{
      font-family: 'Poppins';
      color: white;
    }
  }
}
